body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: lightslategray;
    border: 0px;
    height: 400px;
}


h1 {
    font-size: 40px;
    color: lavender;  
    text-align: center;
    margin: 0px;
}

h2{
    font-size: 30px;
    text-align: center;
    color: lightslategray;  
}

section {
    
    color: lightyellow;
    align-items: center;
    text-align: center;
   
    
}

p{
    color: lightyellow;
    font-size: 30px;
}
a{
    color: lightyellow;
    font-size: 30px;
    
    
}

ul{
    padding-left: 500px;
    width:350px;
    text-align: center;
}

